@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?31levb');
  src:  url('/fonts/icomoon.eot?31levb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?31levb') format('truetype'),
    url('/fonts/icomoon.woff?31levb') format('woff'),
    url('/fonts/icomoon.svg?31levb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e900";
}
.icon-language:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-mailtype:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-media:before {
  content: "\e905";
}
.icon-medical-protection:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-muscle:before {
  content: "\e908";
}
.icon-news:before {
  content: "\e909";
}
.icon-number:before {
  content: "\e90a";
}
.icon-option:before {
  content: "\e90b";
}
.icon-page:before {
  content: "\e90c";
}
.icon-partner:before {
  content: "\e90d";
}
.icon-product:before {
  content: "\e90e";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-solution:before {
  content: "\e910";
}
.icon-store:before {
  content: "\e911";
}
.icon-switch:before {
  content: "\e912";
}
.icon-team:before {
  content: "\e913";
}
.icon-testimonials:before {
  content: "\e914";
}
.icon-translation:before {
  content: "\e915";
}
.icon-treeview:before {
  content: "\e916";
}
.icon-url:before {
  content: "\e917";
}
.icon-users:before {
  content: "\e918";
}
.icon-value:before {
  content: "\e919";
}
.icon-access-event:before {
  content: "\e91a";
}
.icon-admin-level:before {
  content: "\e91b";
}
.icon-advert:before {
  content: "\e91c";
}
.icon-error:before {
  content: "\e91d";
}
.icon-faq:before {
  content: "\e91e";
}
.icon-flush:before {
  content: "\e91f";
}
.icon-gender:before {
  content: "\e920";
}
.icon-history:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e922";
}
.icon-humanitaire:before {
  content: "\e923";
}
