label span {
    color: white;
    display: block;
    font-size: 12px !important;
  line-height: 12px;
  text-align:center;
}
label{
  height: 12px !important;
}

p.inline-small-label, .inline-small-label p {
  margin-top: 15px; 
}

p.input-height, p.input-height.grey-bg {
    line-height: 1.25em;
    padding-bottom: 0.583em;
    padding-top: 3.5em;
    margin-left: 15px;
}

button, .big-button {
 margin-top: 15px;
}

.form label, .form .label {
 width: 8em;
 padding: 0.667em 0.5em 0.583em 0.5em;
line-height: 12px;
padding-left: 10px;
height:15px !important;
}
label.inline{
background:none;
border: none;
color: white;
 box-shadow: none;
}
p.input-with-button label{
width: 180px;
}
#captcha_code{
 float:left;
 margin-left: 20px;

}
span.big{
 color: #00436e;
 text-align:left;
}

.captcha-block{
 margin-top: 10px;
 overflow: hidden;
}
.captcha-block label{
float: left !important;
}
.keep-logged-bloc{
width: 100%;
}
#captcha_image{
	width: 140px;
    float: right;
    margin-right: 75px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 1em;
}

#login-form > p.captcha-block > a > img {
    position: absolute;
    margin-left: 300px;
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-top: 15px;
}

.message.success {
 width: 100% !important;
}

#password-recovery > fieldset > legend > a {
    border: 0px !important;
    /*background: none !important;*/
    color: black;
    text-shadow: none;
    box-shadow: none;
    position: relative;
}
