.switch-replace {
	display: inline-block;
	width: 70px;
	height: 30px;
	background: url(/assets/images/switch-bg.png) no-repeat 0 -34px;
	vertical-align: middle;
	cursor: pointer;
	}
	.switch:checked + .switch-replace {
		background-position: 0 0;
	}
	.switch:disabled + .switch-replace {
		background-position: 0 -68px;
	}
	/** IE class **/
	.switch-replace-checked {
		background-position: 0 0;
	}
	.switch-replace-disabled {
		background-position: 0 -68px;
	}

.mini-switch-replace {
	display: inline-block;
	width: 40px;
	height: 20px;
	background: url(/assets/images/mini-switch-bg.png) no-repeat 0 -24px;
	vertical-align: middle;
	cursor: pointer;
	}
	.mini-switch:checked + .mini-switch-replace {
		background-position: 0 0;
	}
	.mini-switch:disabled + .mini-switch-replace {
		background-position: 0 -48px;
	}
	/** IE class **/
	.mini-switch-replace-checked {
		background-position: 0 0;
	}
	.mini-switch-replace-disabled {
		background-position: 0 -48px;
	}


.myform  label{
 font-weight: bold;
text-align:right;
margin-right:20px;
margin-top:5px;
}

.custom-file-label{
 text-align:left !important;
}
.block-line{
    border-bottom: 1px solid #eee;
    padding-bottom: 26px;
}
#tabEdit{
 border-right: 1px solid #eee;
}
.view-button{
margin-top:5px;
}
.nav-link {
 /*   margin: 0px !important;*/
}

.btn-tooltip{
    position: absolute !important;
    top: -6px;
    right: -20px;
    z-index: 9999;
    padding: 7px 11px;
   color:#444441 !important;
   border: 0px !important;
  background-color: transparent !important;
}
.mods-table  td, .table-bordered th {
 padding:10px;
}
td.media{
    display: block;
    align-items: flex-start;
}
#lib{
    font-size: 18px;
    font-weight: bold;
}

/*ACE CODE EDITOR */ 
/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #999999;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99157;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #6699cc;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #cc99cc;
}

.ace_editor {
  background: #2d2d2d !important;
  color: #cccccc;
  font-family: Menlo, Monaco, Consolas, monospace !important;
  line-height: 1.5 !important;
}

.table td.content, td.lib, td.tpl_lib {
    white-space: normal;
}
.minicolors-theme-bootstrap{
    width: 250px !important 
}

/* Permet d'afficher les messages de validation HTML5 malgré chosen */
select:invalid {
	height: 0px !important;
	opacity: 0 !important;
	position: absolute !important;
	display: flex !important;
}
select:invalid[multiple] {
	margin-top: 15px !important;
}

#block-updated_at {
	display: none;
}
