#editor-tabContent, #composer, #editor-content{
    height: calc(100vh - 45px);
}
.panel-body {
}

.panel{
}
.view-source, .view-content,.keditor-topbar-right{
    display: none;
} 
.html_code,.ace_editor {
/*    height: calc(100vh - 45px) !important;*/
}
.noafter:after, .noafter:before {
    content: "" !important;
}
#photo-align , #photo-style{

    height: 40px !important;
}

